*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 1430px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 auto;
}
li{
  list-style: none;
  color: black;
}
ul{
  display: flex;
  align-items: center;
  gap: 50px;
}
header{
  margin-top: 50px;
}
.card{
  padding: 15px;
  box-shadow: 5px 10px 5px black;
  width: 250px;
  text-align: center;
}
.wrapper{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
